@mixin none_responsive__sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
}

@mixin responsive__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #0000004f;
}

.admin__sidebar {

    @media screen and (max-width: 500px) {
        @include responsive__sidebar;

    }

    @media screen and (min-width: 501px) {
        @include none_responsive__sidebar;
    }

    .admin__sidebar_inner {
        padding: 1rem 1rem 4rem;

        @media screen and (max-width: 500px) {
            @include none_responsive__sidebar;

        }

    }

    .admin__sidebar_body {

        .admin__sidebar_links {
            a {
                display: block;
                text-decoration: none;
                color: rgba(47, 43, 61, 0.68);
                font-size: 0.975rem;
                font-weight: 400;
                padding: 5px 1rem;
                border-radius: 4px;
                white-space: nowrap;
                margin-bottom: 10px;
                background: #fff;
                transition: 0.3s ease-out;
            }

            .active__link {
                color: #fff;
                box-shadow: rgba(115, 103, 240, 0.48) 0px 2px 6px;
                background: linear-gradient(72.47deg, rgb(115, 103, 240) 22.16%, rgba(115, 103, 240, 0.7) 76.47%);
            }
        }
    }

}