.admin__navbar {

    height: 60px;
    background: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    .admin__navbar_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .admin__nav_logo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .humberger {}

        .logo__thumb {
            height: 60px;

            img {
                height: 100%;
            }
        }

    }

    .right__menus {



        .admin__profile_options {
            display: flex;
            align-items: center;

            .profile__notification {
                margin-right: 1rem;
                cursor: pointer;
            }

            .profio__thumb {
                cursor: pointer;

            }

            .thumb__group {}

        }


    }
}